@charset "UFT-8";



:root {
    --cor0: black;
    --cor1: red;
    --cor2: white;
    --cor3: blue; 
    --cor4: aqua;
    --cor5: bisque;
    --cor6: green;
}

* {
    margin: 0px;
    padding: 0px;
}
main p {
    margin: 13px 0px;
    text-align: justify;
    color: rgba(5, 3, 3, 0.849);
}

body {
    background-color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(90deg, rgb(188, 0, 0), rgb(255, 0, 0));
}

header{
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(90deg, rgb(255, 0, 0), rgb(118, 3, 3));
}
 header > h1 {
    color: white;
    min-height: 70px;
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
 }


 nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
 }
 nav > a:hover {
    background-color: rgb(8, 1, 1);
    color: rgb(248, 101, 3);
 }
 header > p {
     margin-bottom: 50px;
     font-size: 20px;
     color: white;
     text-shadow: 2px 2px 0px black;

 }
 nav {
    background-color: rgb(165, 9, 9);
 }
 header > h2 {
    color: white;
 }

 main {
    background-color: rgb(163, 33, 33);
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px black;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 main img {
    width: 100%;
    margin-bottom: 10px;
 }
 div.video {
    background-color: rgb(55, 17, 17);
 }
 aside {
    background-color: rgb(126, 12, 12);
    border-radius: 10px;
 }
 aside > ul {
    list-style-type: '\1f354';
    list-style-position: inside;
    columns: 2;
 }
 main img.pequena {
    width: 70%;
    display: block;
    margin: auto;
 }